:root {
  --white: #ffffff;
  --primary: hsl(215, 51%, 70%);
  --accent: hsl(178, 100%, 50%);
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--mainBG);
  display: grid;
  place-items: center;
  height: 100vh;
}

h1 {
  color: var(--white);
  font-weight: 600;
  font-size: 1.35rem;
}

p {
  color: var(--primary);
  font-weight: 300;
  line-height: 1.6rem;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}

.flex-gap-big {
  gap: 0.9rem;
}

.space-between {
  justify-content: space-between;
}

.text-hover:hover {
  color: var(--accent);
  cursor: pointer;
}

.card {
  background: var(--cardBG);
  width: 20.5rem;
  height: fit-content;
  padding: 1.55rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1.5em 1.5em 2em rgba(0, 0, 0, 0.11);
}

.text-area {
  margin-top: 1.55rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-image {
  max-width: 100%;
  border-radius: 0.6rem;
  align-self: center;
}

.price {
  color: var(--accent);
  font-weight: 400;
}

.line {
  border-top: 0.05em solid var(--line);
}

.avatar {
  width: 2.2em;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--white);
  border-width: 0.1em;
}

.name {
  color: var(--white)
}